@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(assets/fonts/Yekan/Yekan.css);

body {
  max-width: 1900px;
  margin: auto;
  background-color: white;
  font-family: 'Yekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}